* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Optima, sans-serif;
  }
  
  
  .intro {
    width: 75%;
    height: 100px;
    border-radius: 8px;
    background-color: #f9e9e3fb;
    margin-bottom: 150px;
  }

   
  .intro h2 {
    font-size: 30px;
    padding:15px;
    font-style: italic;
  }
  
  .intro h3{
    font-size: 25px;
    margin:50px;
    text-align: center;
  }

  .intro h4{
    font-size: 25px;
    margin:50px;
    text-align-last: center;
  }

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0px 10px;
    padding-top: 50px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 4px;
  }
  
  .column img {
    vertical-align: middle;
    width: 100%;
  }
  
  .container {
    position: relative;
    margin-bottom: 8px;
  }

  .profile {
    width: auto;           /* or whatever size you want */
    height: 250px;
      /* ensures the image covers the circle */
      border-radius: 50%; 
    display: block;
    margin: 20px auto;      /* optional: centers the image */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  
  .column a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    text-align: center;
  }
  
  .column a:hover {
    color: #008CBA;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }
  
/* Style the header with a grey background and some padding */
.header {
  width: 100%;
  overflow: hidden;
  border-bottom: #1c1c1c 3px dotted;
  font-style: italic;
  overflow-x: hidden;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;  /* higher than sidenav's 1 */
  padding: 20px;

}

/* Style the header links */
.header a {
  color: black;
  text-align: center;
  padding-top: 50px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
}

.header a:hover {
  color: white;
  background: white;
  border-radius: 0px;
  transform:scale(1.1);
}

.header img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}


/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}


  
  .footer {
    width: 100%;
    overflow: hidden;
    padding: 20px 10px;
    border-top: #1c1c1c 3px dotted;
    font-style: italic;

    text-align: center;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  /* Style the header links */
  .footer a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
  }
  
  .footer a:hover {
    background-color: black;
    color: white;
    border-radius: 0px;
  }
  

  /* Float the link section to the right */
  .footer-right {
    float: right;
  }
  

  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.footer a.logo {
  font-size: 25px;
  font-weight: bold;
}
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .footer a {
      float: none;
      display: block;
      text-align: left;
    }
    .footer-right {
      float: none;
    }
  }